n8n/telegram-workflow.json
{
  "name": "Weather Bot with AI v.5.0 Telegram(voice) + memory",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "ESP32_Weater_Station",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": 645396798,
          "mode": "list",
          "cachedResultName": "Dane",
          "cachedResultUrl": ""
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        144
      ],
      "id": "defb6ec5-af49-47d7-be96-06c498a819ac",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Kontekst rozmowy:\n{{$json.context}}\nJesteś asystentem stacji pogodowej. Masz dostęp do danych pomiarowych ze stacji pogodowej:\n\nTemperatura: {{$json.Temperature}} °C\nWilgotność: {{$json.Humidity}} %\nCiśnienie: {{$json.Pressure}} hPa\nPM1: {{$json[\"PM 1\"]}} µg/m³\nPM2.5: {{$json[\"PM 2.5\"]}} µg/m³\nPM10: {{$json[\"PM 10\"]}} µg/m³\n\nMasz również pełne dane z OpenWeather API w formacie JSON.\nJeśli użytkownik pyta o szczegóły (np. wysokość, wschód słońca, wiatr, lokalizację, współrzędne), użyj tych danych.\n\nDane OpenWeather (pełne):\n\nLokalizacja: {{$json.openweather.name}}\nWspółrzędne: {{$json.openweather.coord.lat}}, {{$json.openweather.coord.lon}}\n\nTemperatura: {{$json.openweather.main.temp}} °C\nOdczuwalna: {{$json.openweather.main.feels_like}} °C\nCiśnienie: {{$json.openweather.main.pressure}} hPa\nWilgotność: {{$json.openweather.main.humidity}} %\n\nWiatr: {{$json.openweather.wind.speed}} m/s\nKierunek wiatru: {{$json.openweather.wind.deg}}°\nPorywy: {{$json.openweather.wind.gust}} m/s\n\nZachmurzenie: {{$json.openweather.clouds.all}} %\nWidoczność: {{$json.openweather.visibility}} m\n\nOpis: {{$json.openweather.weather[0].description}}\n\nWschód słońca (timestamp): {{$json.openweather.sys.sunrise}}\nZachód słońca (timestamp): {{$json.openweather.sys.sunset}}\n\nZasady:\n\n- jeśli użytkownik pyta o jeden parametr, podaj tylko jego wartość\n- jeśli pyta o dane stacji, podaj wszystkie\n- jeśli dane są dostępne w OpenWeather, używaj ich zamiast zgadywać\n- nie wymyślaj danych — korzystaj tylko z podanych wartości\n- jeśli pytanie nie dotyczy stacji, odpowiedz normalnie\n "
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1152,
        144
      ],
      "id": "ca13b239-b5f8-4380-b0d7-3751c6b8995d",
      "name": "Weather AI 2.0",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$json.output[0].content[0].text}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        144
      ],
      "id": "090e7562-ccde-48ec-a79e-fbbbf0351286",
      "name": "Send a text message",
      "webhookId": "REDACTED",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        48
      ],
      "id": "0d750379-62cf-43fa-b05f-21ce840ec03a",
      "name": "Telegram Trigger",
      "webhookId": "REDACTED",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "ESP32_Weater_Station",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": 645396798,
          "mode": "list",
          "cachedResultName": "Dane",
          "cachedResultUrl": ""
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        752
      ],
      "id": "62c558e8-8ceb-46b4-b1cc-49dd248dcb84",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{$json.message.voice.file_id}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -32,
        -112
      ],
      "id": "080856f7-b472-4af2-955d-d0e26e3c161a",
      "name": "Get a file",
      "webhookId": "REDACTED",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pl"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        176,
        -112
      ],
      "id": "f6ae1f95-effb-48cc-95ab-46f0fe895807",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nlet context = rows\n  .map(r => `${r.json.role}: ${r.json.content}`)\n  .join(\"\\n\");\n\nreturn [{\n  json: {\n    ...$node[\"marge data\"].json,\n    context\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        144
      ],
      "id": "f22b756b-cca2-4d7b-9c35-a70b06148134",
      "name": "Bulid context"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    user_id: $node[\"get last row\"].json.user_id,\n    text: $node[\"get last row\"].json.text,\n    embedding: $json.data[0].embedding\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        144
      ],
      "id": "52f8cc96-891e-4437-ba1a-68b659ab2fbe",
      "name": "user json embeding"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    user_id: $node[\"get last row\"].json.user_id,\n    answer: $node[\"Weather AI 2.0\"].json.output[0].content[0].text,\n    embedding: $json.data[0].embedding\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        352
      ],
      "id": "9c659a11-a020-4054-b4eb-aa194ae3070b",
      "name": "ai embeding"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{$node[\"get last row\"].json.user_id}}",
            "role": "assistant",
            "content": "={{$node[\"Weather AI 2.0\"].json.output[0].content[0].text}}",
            "embedding": "={{$json.embedding}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        352
      ],
      "id": "70cbb27f-5657-4976-9b71-2ec17fc3b0c6",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Postgres account Weather"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{$json.text}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        144
      ],
      "id": "4d9f29c9-e54d-4d65-8b5c-4e46fe47d6fd",
      "name": "Embeding 3-small",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "cityName": "YOUR_CITY",
        "language": "pl"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -144,
        352
      ],
      "id": "6abc3ded-6762-429f-b11e-a882a5d15f21",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        352
      ],
      "id": "387b03a8-2cc0-4163-b6dc-1dd937d3c337",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1359e49-8662-4bb4-84ac-884fce117e84",
              "leftValue": "={{$json.message.voice}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        0
      ],
      "id": "50303d35-894e-42d0-9ed3-e24241ad083c",
      "name": "voice or text"
    },
    {
      "parameters": {
        "jsCode": "let question = \"\";\n\nif ($json.text) {\n  question = $json.text;\n}\n\nif ($json.message && $json.message.text) {\n  question = $json.message.text;\n}\n\nreturn [\n{\njson: {\n...$json,\nquestion: question\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -112
      ],
      "id": "f4d5c28c-9429-416d-96ae-1b53b0625dc3",
      "name": "question"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst lastRow = rows[rows.length - 1];\nlet question = \"\";\n\ntry {\n  question = $('question').item.json.question;\n} catch (e) {\n  question = $('Telegram Trigger').item.json.message.text;\n}\n\nreturn [{\n  json: {\n    user_id: $('Telegram Trigger').item.json.message.chat.id.toString(), \n    text: question,\n    ...lastRow.json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        144
      ],
      "id": "ffa0755c-9c0f-4617-bbff-792ce2e03616",
      "name": "get last row"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    ...data,\n\n    openweather: {\n      coord: data.coord,\n      weather: data.weather,\n      main: data.main,\n      wind: data.wind,\n      clouds: data.clouds,\n      sys: data.sys,\n      visibility: data.visibility,\n      name: data.name,\n      timezone: data.timezone\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        352
      ],
      "id": "ca42a505-28f4-441c-8566-1c03f372d40d",
      "name": "marge data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content, role, (embedding <-> $2) as distance\nFROM messages\nWHERE user_id = $1\nORDER BY embedding <-> $2\nLIMIT 5;",
        "options": {
          "queryReplacement": "=[   {{$json.user_id}},   {{$json.embedding}} ]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        144
      ],
      "id": "8558c519-3063-483f-8f72-e10ae180333d",
      "name": "SELECT embeding",
      "credentials": {
        "postgres": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Postgres account Weather"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (user_id, role, content, embedding)\nVALUES ($1, 'user', $2, $3);",
        "options": {
          "queryReplacement": "=[   {{$json.user_id}},   {{$json.text}},   {{$json.embedding}} ]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        336
      ],
      "id": "77772aa2-e7cf-4c6e-a100-5b00f4fa2faf",
      "name": "INSERT messages",
      "credentials": {
        "postgres": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Postgres account Weather"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.output[0].content[0].text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        352
      ],
      "id": "80113daf-995a-46e2-ad5e-eb8b42b0b6b5",
      "name": "memory response",
      "credentials": {
        "openAiApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst lastRow = rows[rows.length - 1];\n\nreturn [lastRow];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        752
      ],
      "id": "1e9b4b9c-37d7-4459-87ac-46b963ba4874",
      "name": "last row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7db8d0b8-5ea7-4aa5-824f-9f2a4e09ca5e",
              "leftValue": "={{$json[\"PM 2.5\"]}}",
              "rightValue": 55,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        752
      ],
      "id": "8c45a249-ce1f-43fd-8656-bfef96af3441",
      "name": "pm 2.5 max"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        752
      ],
      "id": "29770669-286e-4a87-a409-9be2326e88c4",
      "name": "Schedule Trigger - Alarm",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=⚠️ ALERT JAKOŚCI POWIETRZA  PM2.5: {{$json[\"PM 2.5\"]}} µg/m³ PM10: {{$json[\"PM 10\"]}} µg/m³  Temperatura: {{$json[\"Temperature\"]}} °C Wilgotność: {{$json[\"Humidity\"]}} %  Norma WHO została przekroczona.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        736
      ],
      "id": "9075831f-3199-4f8b-9fe8-1d88189c225b",
      "name": "Send Alarm Text",
      "webhookId": "REDACTED",
      "credentials": {
        "telegramApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "get last row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather AI 2.0": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "memory response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "voice or text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "last row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Bulid context": {
      "main": [
        [
          {
            "node": "Weather AI 2.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user json embeding": {
      "main": [
        [
          {
            "node": "SELECT embeding",
            "type": "main",
            "index": 0
          },
          {
            "node": "INSERT messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ai embeding": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeding 3-small": {
      "main": [
        [
          {
            "node": "user json embeding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "marge data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "voice or text": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "question": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get last row": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marge data": {
      "main": [
        [
          {
            "node": "Embeding 3-small",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT embeding": {
      "main": [
        [
          {
            "node": "Bulid context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memory response": {
      "main": [
        [
          {
            "node": "ai embeding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "last row": {
      "main": [
        [
          {
            "node": "pm 2.5 max",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pm 2.5 max": {
      "main": [
        [
          {
            "node": "Send Alarm Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - Alarm": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ec810865-3a2d-41d8-ab3c-9764fced7744",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_INSTANCE_ID"
  },
  "id": "XGYeXtmaiiMqHaBk",
  "tags": []
}
